/*User view*/
.containerView {
    background-color: white;
    position: relative;
    display: grid;
    padding-left: 0;
    grid-template-columns: 300px 1080px;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    width: 1030px;
    margin: auto;

}

.containerView img {
    height: 430px;
    width: 300px;
    border-radius: 5px;
    object-fit: fill;
    padding-left: 0px;
}

/*User buttons*/
.btnView button {
    padding: 0.5rem;
    background-color: rgb(111, 224, 172);
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 110px;
    height: 40px;

}

.btnView button:hover {
    background: rgb(85, 212, 153);
    transform: scale(1.01);

}

.btnCancel button {
    padding: 0.5rem;
    background-color: rgb(226, 95, 95);
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    height: 40px;
}

.btnCancel button:hover {
    background: rgb(226, 60, 60);
    transform: scale(1.01);

}

.btnView,
.btnCancel {
    display: inline-block;
}

.containerViewHeading {
    padding: 15px 50px 0;
    color: black;
    font-weight: 400;
    margin-left: 0;

}

.containerViewH1 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 650;


}

.containerViewSubHead {
    font-size: 18px;
    font-weight: bold;
    color: rgb(56, 183, 192);
}

.pView1 {
    font-size: 14px;
    display: flex;
    margin: 15px 0 0px;
    font-weight: 600;
    width: 600px;
}

.pView2 {
    font-size: 16px;
    display: flex;
    margin: 10px 0 2px;
    padding-top: 0px;
    font-weight: 350;
}

ul {
    list-style: none;
}

.view p {
    padding-left: 30px;
    font-size: 13px;
}

/*Admin Page Modifications*/

.containerViewADM {
    background-color: white;
    position: relative;
    display: grid;
    padding-left: 0;
    grid-template-columns: 300px 1080px;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    width: 1200px;
    margin: auto;

}

.containerViewADM img {
    height: 430px;
    width: 500px;
    border-radius: 5px;
    object-fit: cover;
}

.containerViewHeadingADM {
    padding: 15px 150px 0;
    color: black;
    font-weight: 400;
    padding-left: 230px;

}

.containerViewH1ADM {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 650;
    padding-left: 30px;

}

.containerViewSubHeadADM {
    font-size: 23px;
    font-weight: bold;
    color: rgb(56, 183, 192);
    padding-left: 30px;
}

.pViewADM {
    font-size: 18px;
    padding-left: 7px;
    display: flexbox;
    font-weight: 400;
}

/*Admin buttons*/
.btnUpdate button {
    padding: 0.5rem;
    background-color: rgb(111, 224, 172);
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    height: 40px;
    margin-left: 50;

}

.btnUpdate button:hover {
    background: rgb(85, 212, 153);
    transform: scale(1.01);

}

.btnDelete button {
    padding: 0.5rem;
    background-color: rgb(226, 95, 95);
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    height: 40px;
    margin-left: 50;
}

.btnDelete button:hover {
    background: rgb(226, 60, 60);
    transform: scale(1.01);

}

.btnBack button {
    padding: 0.5rem;
    background-color: #CAB287;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    height: 40px;
    margin-left: 50;
}

.btnBack button:hover {
    background: #c49f5a;
    transform: scale(1.01);

}

.btnUpdate,
.btnDelete,
.btnBack {
    display: inline-block;
}

.labelMOD {
    font-weight: bold;
}

.inputMod {
    width: 250px;
    padding: 10px;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.fcc-btn:hover {
    background-color: #21bd84;
}