

.hello{
  text-align: center;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.dshbrd{
  text-align: center;
}

.bkgrnd{
  height:135vh;
}

.header{
  padding-top: 20px;
  margin-top: 70px;
  font-weight: 700;
  margin-left: 500px;
}

.dshbtn{
  height: 70px;
  width: 250px;
  border-radius: 30px;
}