.valid {
    color: #28a745;
}

.invalid {
    color: #dc3545;
}

.conditionValidate {
    width: 350px;
    height: 200px;
    background-color: #edf5f3;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}